:root {
    --f7-theme-color: #2de80c;
    --f7-theme-color-rgb: 45, 232, 12;
}

.navbar-bg {
    background-color: #2de80c !important;
}

.navbar .title {
    color: #ffffff !important;
    font-weight: bold;
}

.tache-faite {
    text-decoration: line-through !important;
    color: #a1a1a1 !important;
}

.btn-suppr {
    color: #ff3b30 !important;
    cursor: pointer;
}

.button-fill {
    background-color: #2de80c !important;
    color: white !important;
}

.button-active {
    background-color: #2de80c !important;
    color: white !important;
}

.segmented .button-active {
    background-color: #2de80c !important;
    color: white !important;
}